@font-face {
  font-family: 'open-sans';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url('/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'open-sans';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
#root {
  min-height: 100vh;
  font-family: 'open-sans', sans-serif;
}